*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
#navbar{
    height: 60px;
    width: 100%;
    min-width: 300px;
    display: flex;
    align-items: center;
    background-color: #0f1111;
    justify-content: space-evenly;
}
.nav_logo{
    height: 50px;
    width: 140px;
    background-image: url(./assets/amazon_logo.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
}
.border:hover{
    border: 1px solid white;
    border-radius: 2px;
}
.nav_location{
    height: 50px;
}

.nav_icon{
    display: flex;
}
.adress1{
    font-size: 0.85rem;
    color: white;
    display: block;
    padding-top: 5px;
    margin-left: 25px;
}
.adress2{
    font-size: 1rem;
    font-weight: 700;
    color: white;
    padding-top: 5px;
}
.nav_search{
    height: 40px;
    /* background-color: aqua; */
    width: 600px;
    display: flex;
}
.search_select{
    height: 40px;
    width: 45px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    background-color: #e6e6e6;
    border: none;
}
.search{
    height: 40px;
    width: 100%;
    background-color: #f3f3f3;
    border: none;
    padding-left: 20px;
}
.search_icon{
    height: 40px;
    width: 45px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color: #91f6fe;
    display: flex;
    align-items: center;
    justify-content: center;
}
.language{
    height: 50px;
    display: flex;
    align-items: center;
}
.language_img{
   display: flex;
   align-items: center;

}
.language_select{
    height: 40px;
    width: 45px;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 1rem;
    font-weight: 700;
}
.sign_in{
    height: 50px;    
}
.para1{
    color: white;
    font-size: 0.85rem;
    padding-top: 10px;
}
.para2{
    color: white;
    font-size: 1rem;
    font-weight: 700;
}
.cart_icon{
    height: 50px;
}
.deal{
    height: 50px;
}
.cart_icon{
    height: 50px;
    display: flex;
    align-items: center;
}
.cart_icon h3{
    font-size: 1rem;
    font-weight: 700;
    color: white;
}
.cart_icon svg{
    font-size: 1rem;
    font-weight: 700;
}
.nav_panel{
    height: 40px;
    width: 100%;
    min-width: 300px;
    background-color: #222f3d;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.panel_options{
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 20px;
}

.panel_icon{
    display: flex;
    align-items: center;
}
.text p{
    font-size: 0.85rem;
    color: white;
    
}
.panel_deals{
    color: white;
    font-size: 1rem;
    font-weight: 700;
    padding-right: 20px;
}
.slider_wraper{
    position: relative;
    /* max-width: 48rem; */
    width: 100%;
    min-width: 300px;
    height: 250px;
    margin: 0 auto;
}
.slider{
    display: flex;
    
    aspect-ratio: 50/20;
    overflow-x: auto;
     scroll-snap-type: x mandatory; 
     scroll-behavior: smooth;
}
.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: contain;
}
.slider_nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.slider_nav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity  ease 250ms;
}
.slider_nav a:hover{
    opacity: 1;
}
.shop_sec{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 400px;
    width: 100%;
    min-width: 300px;
    position: absolute;
    top: 350px;
}
.cart{
    height: 400px;
    background-color: white;
    width: 22%  
}
.img{
    height: 250px;
    height: 250px;
    width: 85%;
    margin: auto;
 
}
.cart h2{
    font-size: 1.35rem;
    font-weight: 700;
    padding-top: 20px;
    padding-left: 20px;
   
}
.img_box{
    height: 250px;
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
} 
.img{
    margin-top: 20px;
}   
.cart p{
    font-size: 0.85rem;
    color: #007185;
    padding-left: 20px;
    padding-top: 20px;
}
.shop_sec2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 450px;
    width: 100%;
    min-width: 300px;
    position: absolute;
    top: 750px;
    background-color: #e2e7e6;
}
.shop_sec3{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 450px;
    width: 100%;
    min-width: 300px;
    position: absolute;
    top: 1150px;
    background-color: #e2e7e6;
}
.shop_sec4{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 450px;
    width: 100%;
    min-width: 300px;
    position: absolute;
    top: 1550px;
    background-color: #e2e7e6;
}
.shop_sec5{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 450px;
    width: 100%;
    min-width: 300px;
    position: absolute;
    top: 1550px;
    background-color: #e2e7e6;
}
.personal_info{
    height: 200px;
    min-width: 300px;
    position: absolute;
    top: 2000px;
    padding-left: 500px;
}
.personal_info input{
    display: block;
    height: 30px;
    width: 250px;
    border-radius: 5px;
    border: 2px solid orange;
    background-color: rgb(255, 187, 0);
    font-size: 1rem;
    margin-top: 10px;
}

.foot_panel1{
    height: 50px;
    width: 100%;
    min-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #37475a;
    position: absolute;
    top: 2200px;
}
.foot_panel2{
    height: 400px;
    width: 100%;
    min-width: 300px;
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    background-color: #222f3d;
    position: absolute;
    top: 2250px;
}
.foot_panel2 p{
    color: white;
    font-size: 1rem;
    font-weight: 700;
    padding-top: 50px;
    gap: 20px;
}
.foot_panel2 a{
    color: #e6e6e6;
    display: block;
    margin-top: 20px;
}
.foot_panel3{
    height: 150px;
    width: 100%;
    min-width: 300px;
    display: flex;
    align-items: center;
    background-color: #222f3d;
    border-top: 1px solid gray;
    position: absolute;
    top: 2650px;
    justify-content: center;
    gap: 10px;
}
.panel3_language{
    display: flex;
    border: 1px solid #e2e7e6;
    height: 40px;
    width: 120px;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    margin-left: 30px;
}
.panel3_money{
    display: flex;
    border: 1px solid #e2e7e6;
    height: 40px;
    width: 170px;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}
.panel3_country{
    display: flex;
    border: 1px solid #e2e7e6;
    height: 40px;
    width: 150px;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}
.foot_panel4{
    height: 600px;
    width: 100%;
    display: flex;
    min-width: 300px;
    flex-wrap: wrap;
    align-items: center;
    background-color: #0f1111;
    border-top: 1px solid gray;
    position: absolute;
    top: 2800px;
    justify-content: space-evenly;
    /* gap: 40px; */
    padding-top: 40px;
}
.foot_panel4 p{
    font-size: 1rem;
    font-weight: 700;
    color: white;
}
.foot_panel4 a{
    font-size: 0.85rem;
    color: #e2e7e6;
    display: block;
    text-decoration: none;
}
.pages{
    height: 80px;
    width: 200px;
}
.foot_panel5{
    height: 150px;
    width: 100%;
    min-width: 300px;
    align-items: center;
    position: absolute;
    top: 3440px;
    justify-content: center;
    background-color: #0f1111;
}
.panel5_info{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}
.panel5_copyright{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}
.foot_panel5 p{
    color: white;
    font-size: 0.85rem;
}

